@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Pacifico";
}

button {
    padding: 25px;
    margin-right: 2px;
}